
<table>

<thead>

<tbody>

<% @songs.each do |song| %>
    <tr><%= song.title %></tr>
<% end %>

</tbody>

</thead>

</table>




<% @songs.each do |song| %>
<div class="song">
  	<span><%= song.title %></span>
  	<%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
</div>
<% end %>